<section>
    <div class="page-header">
        <h1>{{vm.task._id ? 'Edit Task' : 'New Task'}}</h1>
    </div>
    <div class="col-md-12">
        <form name="vm.form.taskForm" class="form-horizontal" ng-submit="vm.save(vm.form.taskForm.$valid)" novalidate>
            <fieldset>
                <div class="form-group" show-errors>
                    <label class="control-label" for="name">Title</label>
                    <input name="name" type="text" ng-model="vm.task.name" id="name" class="form-control" placeholder="Name" required>
                    <div ng-messages="vm.form.taskForm.name.$error" role="alert">
                        <p class="help-block error-text" ng-message="required">Task name is required.</p>
                    </div>
                </div>
                <div class="form-group" show-errors>
                    <label class="control-label" for="description">Description</label>
                    <textarea name="name" type="text" ng-model="vm.task.description" id="description" class="form-control" placeholder="Task Description" required></textarea>
                    <div ng-messages="vm.form.taskForm.description.$error" role="alert">
                        <p class="help-block error-text" ng-message="required">Task description is required.</p>
                    </div>
                </div>
                <div class="form-group" show-errors>
                    <label class="control-label" for="description">Deadline</label>
                    <input name="name" type="date" ng-model="vm.task.deadline" id="deadline" class="form-control" placeholder="Task Deadline" required>
                    <div ng-messages="vm.form.taskForm.deadline.$error" role="alert">
                        <p class="help-block error-text" ng-message="required">Task deadline is required.</p>
                    </div>
                </div>
                <div class="form-group" show-errors>
                    <label class="control-label" for="description">Task Type</label>
                    <select name="singleSelect" ng-model="vm.task.type">
                      <option value="public">Public</option>
                      <option value="private">Private</option>
                    </select>
                    <div ng-messages="vm.form.taskForm.deadline.$error" role="alert">
                        <p class="help-block error-text" ng-message="required">Task deadline is required.</p>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">{{vm.task._id ? 'Update' : 'Create'}}</button>
                </div>
                <div ng-show="vm.error" class="text-danger">
                    <strong ng-bind="vm.error"></strong>
                </div>
            </fieldset>
        </form>
    </div>
</section>